<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
</head>
<body>
    <h1>Inserire il comando tra WASD da inviare all'alphabot</h1>
    <form method="POST">
        <label>Comando: </label><br>
        <input type="submit" value="W" name="cmd">
        <input type="submit" value="A" name="cmd">
        <input type="submit" value="S" name="cmd">
        <input type="submit" value="D" name="cmd">
    </form>
</body>
</html>